API_ID=29555662
API_HASH=d5420764bf458365083a59c70748e907
BOT_TOKEN=7986607469:AAFm9I75C21mNnwtXUC-DkXWFWvpyANnQWU
LOG_GROUP_ID=-1002321714948
MONGO_DB_URI=mongodb+srv://tahircolivelotuspark_db_user:tahircolivelotuspark_db_user@cluster01.sh7zj3d.mongodb.net/?retryWrites=true&w=majority&appName=Cluster01
OWNER_ID=7265739086
STRING_SESSION=1BVtsOIsBu2T27LhP6YbPiie2hSb7WPFHXjIDXYrFdDT-33w748_qVn_UWdf3K2PUHhr9LBXrSq_ilZFKzokRCk01YS--ZlDavZrANVqJvuygqz7vgcVQRPPbYt6BxOUe-YV-TdUunZOAdlovtnNf0TOg9n954QR-GvOoBr5mQFUu7MGu4BbQGP7l0VFmIp5b2D4SKGxVvyO6s04gHO2Oq4aiXlq2Y3x6mvzZX35inM1fmvvW7AKs2z08Xfl3MLFnkklu61aNDQHkBLtMMGm41Kpy0RrZ0NnAsxTX4TKJNTF-J7u9avbXnN2GKus7g7bgJiP0HUNupatyQY79RYDf4IA_f7hVTyc=

